In [1]:
import sqlite3
conn = sqlite3.connect('oficina.db')
cursor = conn.cursor()

In [2]:
# tabla empresa_operadora

In [3]:
cursor.execute("""
CREATE TABLE empresa_operadora(
id_empresa INTEGER PRIMARY KEY AUTOINCREMENT,
Nombre VARCHAR(100) NOT NULL,
Nit VARCHAR(20) NOT NULL,
Direccion VARCHAR(100) NOT NULL,
Telefono VARCHAR(10) NOT NULL
)
""")

In [4]:
# tabla vehiculos

In [5]:
cursor.execute("""
CREATE TABLE vehiculo(
id_vehiculo INTEGER PRIMARY KEY AUTOINCREMENT,
Placa VARCHAR(10) NOT NULL,
Tipo_vehiculo VARCHAR(100) NOT NULL,
id_empresa INT,
FOREIGN KEY(id_empresa) REFERENCES empresa_operadora(id_empresa)
)
""")

In [6]:
# tabla conductor

In [7]:
cursor.execute("""
CREATE TABLE conductor(
id_conductor INTEGER PRIMARY KEY AUTOINCREMENT,
Nombre VARCHAR(100) NOT NULL,
Documento VARCHAR(20) NOT NULL,
Licencia VARCHAR(20) NOT NULL,
Telefono VARCHAR (10) NOT NULL,
id_empresa INT,
FOREIGN KEY(id_empresa) REFERENCES empresa_operadora(id_empresa)
)
""")

In [8]:
# tabla ruta

In [9]:
cursor.execute("""
CREATE TABLE ruta(
id_ruta INTEGER PRIMARY KEY AUTOINCREMENT,
Origen VARCHAR(100) NOT NULL,
Destino VARCHAR(100) NOT NULL
)
""")

In [10]:
# tabla viaje

In [11]:
cursor.execute("""
CREATE TABLE viaje(
id_viaje INTEGER PRIMARY KEY AUTOINCREMENT,
Fecha_viaje VARCHAR(20) NOT NULL,
Hora_salida VARCHAR(10) NOT NULL,
Hora_llegada VARCHAR(10) NOT NULL,
id_vehiculo INTEGER NOT NULL,
id_conductor INTEGER NOT NULL,
id_ruta INTEGER NOT NULL,
FOREIGN KEY(id_vehiculo) REFERENCES vehiculo(id_vehiculo),
FOREIGN KEY(id_conductor) REFERENCES conductor(id_conductor),
FOREIGN KEY(id_ruta) REFERENCES ruta(id_ruta)
)
""")

In [12]:
# tabla pasajero

In [13]:
cursor.execute("""
CREATE TABLE pasajero(
id_pasajero INTEGER PRIMARY KEY AUTOINCREMENT,
Nombre VARCHAR(100) NOT NULL,
Documento VARCHAR(20) NOT NULL,
Telefono VARCHAR(10) NOT NULL
)
""")

In [14]:
# tabla boleto

In [15]:
cursor.execute("""
CREATE TABLE boleto(
id_boleta INTEGER PRIMARY KEY AUTOINCREMENT,
Fecha_compra VARCHAR(20) NOT NULL,
Precio VARCHAR (20),
id_pasajero INTEGER NOT NULL,
id_viaje INTEGER NOT NULL,
FOREIGN KEY(id_pasajero) REFERENCES pasajero(id_pasajero),
FOREIGN KEY(id_viaje) REFERENCES viaje(id_viaje)
)
""")

In [16]:
# agragar datos a la tabla empresa

In [17]:
cursor.execute("""
INSERT INTO empresa_operadora(nombre, nit, direccion, telefono) VALUES('tres perlas', '2345609754', 'carrera 4 #5-3', '300987234')
""")

In [18]:
# agregar datos en la tabla vehiculo

In [19]:
cursor.execute("""
INSERT INTO vehiculo(placa, tipo_vehiculo) VALUES('ABC-123', 'Sed√°n')
""")

In [20]:
cursor.execute("""
INSERT INTO vehiculo(placa, tipo_vehiculo) VALUES('XYZ-789', 'Hatchback ')
""")

In [21]:
cursor.execute("""
INSERT INTO vehiculo(placa, tipo_vehiculo) VALUES('LMN-456', 'Station Wagon')
""")

In [22]:
#agregar datos en la tabla conductor

In [23]:
cursor.execute("""
INSERT INTO conductor(nombre, documento, licencia, telefono) VALUES('Luis Jaramillo', '1009789654', '11001-0001234-5','325678432')
""")

In [24]:
cursor.execute("""
INSERT INTO conductor(nombre, documento, licencia, telefono) VALUES('Alberto Jaramillo', '1009123454', '05001-7654321-2','329098345')
""")

In [25]:
cursor.execute("""
INSERT INTO conductor(nombre, documento, licencia, telefono) VALUES('Felipe Tobon', '1090654324', '08001-1234567-9','300897234')
""")

In [26]:
 # agregar datos en la tabla ruta

In [27]:
cursor.execute("""
INSERT INTO ruta(origen, destino) VALUES('cali', 'popayan')
""")

In [28]:
cursor.execute("""
INSERT INTO ruta(origen, destino) VALUES('san pedro', 'tulua')
""")

In [29]:
cursor.execute("""
INSERT INTO ruta(origen, destino) VALUES('pasto', 'tulua')
""")

In [30]:
# agregar datos en la tabla viaje

In [31]:
cursor.execute("""
INSERT INTO viaje(fecha_viaje, hora_salida, hora_llegada, id_vehiculo, id_ruta, id_conductor) VALUES('18-junio-2025', '08:30am', '08:00pm', 1,1,1)
""")

In [32]:
cursor.execute("""
INSERT INTO viaje(fecha_viaje, hora_salida, hora_llegada, id_vehiculo, id_ruta, id_conductor) VALUES('10-junio-2025', '08:30am', '08:00pm', 2,2,2)
""")

In [33]:
cursor.execute("""
INSERT INTO viaje(fecha_viaje, hora_salida, hora_llegada, id_vehiculo, id_ruta, id_conductor) VALUES('20-junio-2025', '08:30am', '08:00pm', 3,3,3)
""")

In [34]:
# agregar datos en la tabla pasajero

In [35]:
cursor.execute("""
INSERT INTO pasajero(Nombre, Documento, Telefono) VALUES('Anderson Marin', '1009456876', 300987567)
""")

In [36]:
cursor.execute("""
INSERT INTO pasajero(Nombre, Documento, Telefono) VALUES('Andres Marin', '1006738976', 300987789)
""")

In [37]:
cursor.execute("""
INSERT INTO pasajero(Nombre, Documento, Telefono) VALUES('luisa Martinez', '1007098976', 3146548970)
""")

In [38]:
# agragar datos a la tabla boletos

In [39]:
cursor.execute("""
INSERT INTO boleto(fecha_compra, precio, id_pasajero, id_viaje) VALUES('14-junio-2025', '45.000', 1,1)
""")

In [40]:
cursor.execute("""
INSERT INTO boleto(fecha_compra, precio, id_pasajero, id_viaje) VALUES('10-junio-2025', '45.000', 2,2)
""")

In [41]:
cursor.execute("""
INSERT INTO boleto(fecha_compra, precio, id_pasajero, id_viaje) VALUES('10-junio-2025', '40.000', 3,3)
""")

In [42]:
cursor.execute("""
SELECT * FROM ruta
""")

for row in cursor.fetchall():
    print(row)

(1, 'cali', 'popayan')
(2, 'san pedro', 'tulua')
(3, 'pasto', 'tulua')

In [43]:
tablas = [
    "empresa_operadora",
    "vehiculo",
    "conductor",
    "ruta",
    "viaje",
    "pasajero",
    "boleto"
]

for nombre_tabla in tablas:
    print(f"\nüìÑ Datos de la tabla: {nombre_tabla}")
    cursor.execute(f"SELECT * FROM {nombre_tabla}")
    filas = cursor.fetchall()
    
    if filas:
        for fila in filas:
            print(fila)
    else:
        print("üõà La tabla est√° vac√≠a.")

üìÑ Datos de la tabla: empresa_operadora
(1, 'tres perlas', '2345609754', 'carrera 4 #5-3', '300987234')

üìÑ Datos de la tabla: vehiculo
(1, 'ABC-123', 'Sed√°n', None)
(2, 'XYZ-789', 'Hatchback ', None)
(3, 'LMN-456', 'Station Wagon', None)

üìÑ Datos de la tabla: conductor
(1, 'Luis Jaramillo', '1009789654', '11001-0001234-5', '325678432', None)
(2, 'Alberto Jaramillo', '1009123454', '05001-7654321-2', '329098345', None)
(3, 'Felipe Tobon', '1090654324', '08001-1234567-9', '300897234', None)

üìÑ Datos de la tabla: ruta
(1, 'cali', 'popayan')
(2, 'san pedro', 'tulua')
(3, 'pasto', 'tulua')

üìÑ Datos de la tabla: viaje
(1, '18-junio-2025', '08:30am', '08:00pm', 1, 1, 1)
(2, '10-junio-2025', '08:30am', '08:00pm', 2, 2, 2)
(3, '20-junio-2025', '08:30am', '08:00pm', 3, 3, 3)

üìÑ Datos de la tabla: pasajero
(1, 'Anderson Marin', '1009456876', '300987567')
(2, 'Andres Marin', '1006738976', '300987789')
(3, 'luisa Martinez', '1007098976', '3146548970')

üìÑ Datos de la tabla: boleto
(1, '14-junio-2025', '45.000', 1, 1)
(2, '10-junio-2025', '45.000', 2, 2)
(3, '10-junio-2025', '40.000', 3, 3)

In [44]:
cursor.execute("""
SELECT
    p.nombre AS pasajero,
    v.fecha_viaje AS fecha_viaje,
    r.origen AS origen,
    vh.placa AS placa,
    c.nombre AS conductor
FROM boleto AS b
JOIN pasajero AS p ON b.id_pasajero = p.id_pasajero
JOIN viaje AS v ON b.id_viaje = v.id_viaje
JOIN ruta AS r ON v.id_ruta = r.id_ruta
JOIN vehiculo AS vh ON v.id_vehiculo = vh.id_vehiculo
JOIN conductor AS c ON v.id_conductor = c.id_conductor
""")

for row in cursor.fetchall():
    print(row)

('Anderson Marin', '18-junio-2025', 'cali', 'ABC-123', 'Luis Jaramillo')
('Andres Marin', '10-junio-2025', 'san pedro', 'XYZ-789', 'Alberto Jaramillo')
('luisa Martinez', '20-junio-2025', 'pasto', 'LMN-456', 'Felipe Tobon')

In [45]:
conn.commit()
conn.close()

In [49]:
import pandas as pd
conn = sqlite3.connect('oficina.db')

In [56]:
pd.read_sql_query("SELECT * FROM empresa_operadora ", conn)

   id_empresa       Nombre         Nit       Direccion   Telefono
0           1  tres perlas  2345609754  carrera 4 #5-3  300987234