In [2]:
import pandas as pd

In [7]:
archivo.head

<bound method NDFrame.head of         DEPARTAMENTO          MUNICIPIO CODIGO DANE  \
0          ATLÁNTICO  BARRANQUILLA (CT)     8001000
1             BOYACÁ            DUITAMA    15238000
2            CAQUETÁ        PUERTO RICO    18592000
3           CASANARE               MANÍ    85139000
4       CUNDINAMARCA   BOGOTÁ D.C. (CT)    11001000
...              ...                ...         ...
476965       VICHADA      SANTA ROSALÍA    99624000
476966       VICHADA      SANTA ROSALÍA    99624000
476967       VICHADA      SANTA ROSALÍA    99624000
476968  CUNDINAMARCA              TAUSA    25793000
476969  CUNDINAMARCA          ZIPAQUIRÁ    25899000

                       ARMAS MEDIOS FECHA HECHO     GENERO GRUPO ETARIO  \
0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010  MASCULINO      ADULTOS
3       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
4       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
...                             ...         ...        ...          ...
476965          SIN EMPLEO DE ARMAS       44250   FEMENINO      MENORES
476966          SIN EMPLEO DE ARMAS       44262   FEMENINO      ADULTOS
476967          SIN EMPLEO DE ARMAS       44300   FEMENINO      ADULTOS
476968                          NaN       44294   FEMENINO      ADULTOS
476969                          NaN       44245   FEMENINO      ADULTOS

        CANTIDAD
0              1
1              1
2              1
3              1
4              1
...          ...
476965         1
476966         1
476967         1
476968         1
476969         1

[476970 rows x 8 columns]>

In [ ]:
# forma del Datasets

In [8]:
print("shape/forma:", archivo.shape)

shape/forma: (476970, 8)

In [ ]:
# informacion de como esta construido el Datasets

In [9]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476970 entries, 0 to 476969
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DEPARTAMENTO  476970 non-null  object
 1   MUNICIPIO     476970 non-null  object
 2   CODIGO DANE   476970 non-null  object
 3   ARMAS MEDIOS  476968 non-null  object
 4   FECHA HECHO   476970 non-null  object
 5   GENERO        476967 non-null  object
 6   GRUPO ETARIO  475355 non-null  object
 7   CANTIDAD      476970 non-null  int64
dtypes: int64(1), object(7)
memory usage: 29.1+ MB

In [ ]:
# estadisticas descriptivas

In [12]:
archivo.describe()

            CANTIDAD
count  476970.000000
mean        1.707764
std         3.338647
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max       130.000000

In [13]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476970 entries, 0 to 476969
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   DEPARTAMENTO  476970 non-null  object
 1   MUNICIPIO     476970 non-null  object
 2   CODIGO DANE   476970 non-null  object
 3   ARMAS MEDIOS  476968 non-null  object
 4   FECHA HECHO   476970 non-null  object
 5   GENERO        476967 non-null  object
 6   GRUPO ETARIO  475355 non-null  object
 7   CANTIDAD      476970 non-null  int64
dtypes: int64(1), object(7)
memory usage: 29.1+ MB

In [ ]:
# Convertir la columna de fecha a formato datetime

In [26]:
df['FECHA HECHO'] = pd.to_datetime(df['FECHA HECHO'], errors='coerce')

In [ ]:
# Filtrar por departamento y año

In [27]:
df_bogota_2023 = df[(df['DEPARTAMENTO'] == 'Bogotá') & (df['FECHA HECHO'].dt.year == 2023)]

In [ ]:
# nuevo datasets

In [28]:
df_bogota_2023.to_csv('violencia_intrafamiliar_bogota_2023.csv', index=False)

In [ ]:
 # resultado

In [29]:
print(df_bogota_2023.head())

Empty DataFrame
Columns: [DEPARTAMENTO, MUNICIPIO, CODIGO DANE, ARMAS MEDIOS, FECHA HECHO, GENERO, GRUPO ETARIO, CANTIDAD]
Index: []

In [31]:
print(df_bogota_2023.info())
print(df_bogota_2023.describe(include='all'))

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DEPARTAMENTO  0 non-null      object
 1   MUNICIPIO     0 non-null      object
 2   CODIGO DANE   0 non-null      object
 3   ARMAS MEDIOS  0 non-null      object
 4   FECHA HECHO   0 non-null      datetime64[ns]
 5   GENERO        0 non-null      object
 6   GRUPO ETARIO  0 non-null      object
 7   CANTIDAD      0 non-null      int64
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 0.0+ bytes
None
       DEPARTAMENTO MUNICIPIO CODIGO DANE ARMAS MEDIOS FECHA HECHO GENERO  \
count             0         0           0            0           0      0
unique            0         0           0            0         NaN      0
top             NaN       NaN         NaN          NaN         NaN    NaN
freq            NaN       NaN         NaN          NaN         NaN    NaN
mean            NaN       NaN         NaN          NaN         NaT    NaN
min             NaN       NaN         NaN          NaN         NaT    NaN
25%             NaN       NaN         NaN          NaN         NaT    NaN
50%             NaN       NaN         NaN          NaN         NaT    NaN
75%             NaN       NaN         NaN          NaN         NaT    NaN
max             NaN       NaN         NaN          NaN         NaT    NaN
std             NaN       NaN         NaN          NaN         NaN    NaN

       GRUPO ETARIO  CANTIDAD
count             0       0.0
unique            0       NaN
top             NaN       NaN
freq            NaN       NaN
mean            NaN       NaN
min             NaN       NaN
25%             NaN       NaN
50%             NaN       NaN
75%             NaN       NaN
max             NaN       NaN
std             NaN       NaN

In [35]:
df.ordenado = df.sort_values(by="CANTIDAD", ascending=False)

C:\Users\T\AppData\Local\Temp\ipykernel_5888\971695074.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.ordenado = df.sort_values(by="CANTIDAD", ascending=False)

In [42]:
# leer el archivo guardado
df_resultado = pd.read_csv('violencia_ordenado_por_cantidad.csv')

# Mostrar algunas filas
print(df_resultado.head())

   DEPARTAMENTO         MUNICIPIO CODIGO DANE  ARMAS MEDIOS FECHA HECHO  \
0  CUNDINAMARCA  BOGOTÁ D.C. (CT)    11001000  NO REPORTADO  2019-01-09
1  CUNDINAMARCA  BOGOTÁ D.C. (CT)    11001000  NO REPORTADO         NaN
2  CUNDINAMARCA  BOGOTÁ D.C. (CT)    11001000  NO REPORTADO         NaN
3  CUNDINAMARCA  BOGOTÁ D.C. (CT)    11001000  NO REPORTADO         NaN
4  CUNDINAMARCA  BOGOTÁ D.C. (CT)    11001000  NO REPORTADO  2019-08-12

     GENERO GRUPO ETARIO  CANTIDAD
0  FEMENINO      ADULTOS       130
1  FEMENINO      ADULTOS       118
2  FEMENINO      ADULTOS       109
3  FEMENINO      ADULTOS       107
4  FEMENINO      ADULTOS       106

C:\Users\T\AppData\Local\Temp\ipykernel_5888\2146270876.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_resultado = pd.read_csv('violencia_ordenado_por_cantidad.csv')

In [48]:
df.ordenado.to_csv('violencia_ordenado_por_cantidad.csv', index=False)